
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Health Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Insurance Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/timeline.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/hover.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="banner" id="home">
        <partial name="../LayoutHome/_Header.cshtml" />
        @RenderBody()
        <div class="container">
            <div class="banner-text">
                <div class="slider-info">
                    <h3>Protect your family with insurance</h3>
                    <p class="text-white mt-sm-4 mt-2">
                        Welcome to the employee
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-w3sec py-sm-5" id="search">
        <div class="container py-5">
            <div class="testimonials py-lg-5" style="background-color: #30DCF2 " id="insurance">
                <div class="container py-5">
                    <div class="title-section pb-4">
                        <h3 class="main-title-agile">Insurance Directory</h3>
                        <a class="main-title-agile" style="color:white" asp-area="Employee" asp-controller="Home" asp-action="Category">View More</a>
                        <div class="col=md-8">
                        </div>
                    </div>
                    <div class="ins-sec1">
                        <div class="row">
                            <div class="col-lg-4 my-lg-0 my-md-5">
                                <div class="abt-block">
                                    <div class="serv_abs serv_bottom">
                                        <i class="fas fa-hand-holding-heart"></i>
                                    </div>
                                    <h3>vehicle insurance</h3>
                                    <p>Health insurance for you and your family</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="agile_stats py-sm-5" id="more">
                <div class="container">
                    <div class="py-lg-5 w3-abbottom">
                        <div class="row py-5">
                            <div class="counter col-lg-3 col-6">
                                <i class="far fa-smile"></i>
                                <div class="timer count-title count-number mt-2 text-white" data-to="5100" data-speed="1500"></div>
                                <p class="count-text text-capitalize text-white">happy clients</p>
                            </div>
                            <div class="counter col-lg-3 col-6">
                                <i class="fas fa-database"></i>
                                <div class="timer count-title count-number mt-2 text-white" data-to="971" data-speed="1500"></div>
                                <p class="count-text text-capitalize text-white">insurance projects</p>
                            </div>
                            <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                                <i class="fas fa-users"></i>
                                <div class="timer count-title count-number mt-2 text-white" data-to="21" data-speed="1500"></div>
                                <p class="count-text text-capitalize text-white">professional agents</p>
                            </div>
                            <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                                <i class="fas fa-award"></i>
                                <div class="timer count-title count-number mt-2 text-white" data-to="27" data-speed="1500"></div>
                                <p class="count-text text-capitalize text-white">years of experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="contact-wthree" id="order">
                <div class="container py-sm-5">
                    <div class="title-section py-4">
                        <h3 class="main-title-agile">Order</h3>
                        <span class="title-line">
                        </span>
                    </div>
                    <div class="row py-lg-5 py-4">
                        <div class="offset-2"></div>
                        <div class="col-lg-12 mt-lg-0 mt-5">
                            <div class="register-top1">
                                <form action="#" method="get" class="register-wthree">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 mt-md-0 mt-4">
                                                <label>Policy name</label>
                                                <select id="inputStatus" name="PolicyId" class="form-control custom-select">
                                                    @foreach (var policy in ViewData["policy"] as IList<Policy>)
                                                    {
                                                        <option value="@policy.Id">@policy.PolicyName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            @using Microsoft.AspNetCore.Http;
                                            <div class="col-md-6">
                                                <label>Employee</label>
                                                <input type="hidden" name="EmpId" value="@Context.Session.GetInt32("EmpId")" id="inputName" class="form-control">
                                                <input type="text" value="@Context.Session.GetString("Username")" id="inputName" class="form-control" disabled>
                                            </div>
                                            <div class="col-md-6 mt-md-0 mt-4">
                                                <label>Company Name</label>
                                                <select id="inputStatus" name="CompanyId" class="form-control custom-select">
                                                    @foreach (var cp in ViewData["company"] as IList<CompanyDetail>)
                                                    {
                                                        <option value="@cp.Id">@cp.CompanyName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-agile btn-block w-100 font-weight-bold text-uppercase">ADD</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials py-lg-5" id="about">
                <div class="container py-5">
                    <div class="title-section pb-4">
                        <h3 class="main-title-agile text-white">about us.</h3>
                    </div>
                    <div class="text-center py-lg-5">
                        <div class="callbacks_container">
                            <ul class="rslides" id="slider3">
                                <li>
                                    <div class="testi-pos">
                                        @*<img src="~/images/HomePages/ts1.jpg" alt="" class="img-fluid rounded-circle mb-3" />*@
                                        <h4>Lày Chấn Giang</h4>
                                        <span>Leader</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                            lorem, et condimentum neque commodo quis.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testi-pos">
                                        @*<img src="~/images/HomePages/ts2.jpg" alt="" class="img-fluid rounded-circle mb-3" />*@
                                        <h4>Hoàng Văn Thảo</h4>
                                        <span>Member</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                            lorem, et condimentum neque commodo quis.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testi-pos">
                                        @*<img src="~/images/HomePages/Anh.jpg" alt="" class="img-fluid rounded-circle mb-3" />*@
                                        <h4>Vũ Quý Thiện Anh</h4>
                                        <span>Member</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                            lorem, et condimentum neque commodo quis.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testi-pos">
                                        @*<img src="~/images/HomePages/Thien.jpg" alt="" class="img-fluid rounded-circle mb-3" />*@
                                        <h4>Đào Thanh Thiện</h4>
                                        <span>Member</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                            lorem, et condimentum neque commodo quis.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testi-pos">
                                        @*<img src="~/images/HomePages/ts3.jpg" alt="" class="img-fluid rounded-circle mb-3" />*@
                                        <h4>Đỗ Văn Thanh Hải</h4>
                                        <span>Member</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus
                                            lorem, et condimentum neque commodo quis.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerv4-w3ls" id="footer">
        <div class="footerv4-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 footv4-left">
                        <h3>
                            <a href="#about" class="scroll">About Us</a>
                        </h3>
                        <h2>
                            <a href="@Url.Action(" Index","Home")">Insurance</a>
                        </h2>
                        <div class="footerv4-social">
                            <h3>stay connected</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/IPoxxx.x">
                                        <span class="fab fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fab fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 footv4-content mt-sm-0 mt-4">
                        <h3>featured content</h3>
                        <ul class="v4-content">
                            <li>
                                <a href="@Url.Action(" Index","Home")">Home</a>
                            </li>
                            <li>
                                <a href="#insurance" class="scroll">Insurance</a>
                            </li>
                            <li>
                                <a href="#contact" class="scroll">contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footv4-left fv4-g3 my-lg-0 my-4">
                        <h3>Latest releases</h3>
                        <ul class="v4-rel">
                            <li>
                                <a href="#">
                                </a>
                                <p class="text-white">February 5, 2022</p>
                            </li>
                            <li>
                                <a href="#">
                                </a>
                                <p class="text-white">February 10, 2022</p>
                            </li>
                            <li>
                                <a href="#">
                                </a>
                                <p class="text-white">February 20, 2022</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 footv4-left">
                        <h3>Report</h3>
                        <form action="#" method="post">
                            <input type="text" placeholder="Your name" name="name" required>
                            <input type="text" placeholder="Your Report" name="report" required>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cpy-right">
        <p>
            © 2022 Insurance. All rights reserved | Design by Group 4
        </p>
    </div>


    <script src="js/jquery-2.2.3.min.js"></script>
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
        }
    </script>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <script src="js/move-top.js"></script>.
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var defaults = {
                containerID: 'toTop',
                containerHoverID: 'toTopHover',
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/counter.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <a href="#" id="toTop" style="display:block;">
        <span id="toTopHover" style="opacity: 0;"></span>
        "To Top"
    </a>
</body>

</html>
