@using Newtonsoft.Json;
<div class="wrapper">
    <partial name="../Shared/_NavbarAdmin.cshtml" />
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>User Profile</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                @foreach (var pro in ViewData["emp"] as IList<ProfileResult>)
                                {
                                    var e = pro.e.ToString();
                                    var resultE = JsonConvert.DeserializeObject<Employee>(e);
                                    var cn = pro.cn.ToString();
                                    var company = JsonConvert.DeserializeObject<CompanyDetail>(cn);
                                    var p = pro.p.ToString();
                                    var policy = JsonConvert.DeserializeObject<Policy>(p);

                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="~/@resultE.Image"
                                             alt="User profile picture">
                                    </div>
                                    <h3 class="profile-username text-center">@resultE.Fname @resultE.Lname</h3>
                                    <p class="text-muted text-center">@resultE.Email</p>
                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <b>Phone</b> <a class="float-right">@resultE.Phone</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Address</b> <a class="float-right">@resultE.Address</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Comapny</b> <a class="float-right">@company.CompanyName</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Comapny Url</b> <a class="float-right">@company.CompanyUrl</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Policy</b> <a class="float-right">@policy.PolicyName</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Policy Description</b> <a class="float-right">@policy.PolicyDesc</a>
                                        </li>
                                    </ul>
                                    <a href="/Admin/EditEmp/@resultE.EmpId" class="btn btn-primary btn-block"><b>Update Profile</b></a>
                                }
                            </div>
                        </div>
                        @*<div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">About Me</h3>
                            </div>
                            <div class="card-body">
                                <strong><i class="fas fa-book mr-1"></i> Education</strong>
                                <p class="text-muted">
                                    B.S. in Computer Science from the University of Tennessee at Knoxville
                                </p>
                                <hr>
                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                                <p class="text-muted">Malibu, California</p>
                                <hr>
                                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                                <p class="text-muted">
                                    <span class="tag tag-danger">UI Design</span>
                                    <span class="tag tag-success">Coding</span>
                                    <span class="tag tag-info">Javascript</span>
                                    <span class="tag tag-warning">PHP</span>
                                    <span class="tag tag-primary">Node.js</span>
                                </p>
                                <hr>
                                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>