@model IEnumerable<Client.Models.Feedback>
<partial name="../Shared/_NavbarAdmin.cshtml" />
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>FeeBack List</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">FeeBack</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width:5%;">
                                #
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Content
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                EmpId
                            </th>
                            <th style="width: 15%" class="text-center">
                                Acction
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-left">
                                        @item.EmpId
                                    </td>
                                    <td class="text-left">
                                        @item.Title
                                    </td>
                                    <td class="project_progress text-left">
                                        @item.Content
                                    </td>
                                    <td class="project-state text-left">
                                        @item.Date
                                    </td>
                                    <td class="project-state text-left">
                                        @item.EmpId
                                    </td>
                                    <td class="project-actions text-left">
                                        <a class="btn btn-primary btn-sm" href="#">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="/Admin/DelFeedBack/@item.Id">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>