<partial name="../Shared/_NavbarAdmin.cshtml" />
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employee request</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-5">
            <div class="p-2 form-search">
                <div class="search-hp">
                    <form asp-action="Policy" method="get">
                        <p class="search-title">Search Name</p>
                        <input type="text" name="searchname" class="search" />
                        <button type="submit" class="btn-search"><i class="fas fa-search fa-fw"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Employee Request</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Policy Name
                            </th>
                            <th>
                                Company Name
                            </th>
                            <th>
                                Status
                            </th>
                            <th style="width: 15%" class="text-center">
                                Acction
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @using Newtonsoft.Json;
                        @foreach (var item in ViewData["request"] as IList<ProfileResult>)
                        {
                            var rq = item.rq.ToString();
                            var request = JsonConvert.DeserializeObject<RequestDetail>(rq);
                            var e = item.e.ToString();
                            var employee = JsonConvert.DeserializeObject<Employee>(e);
                            var p = item.p.ToString();
                            var policy = JsonConvert.DeserializeObject<Policy>(p);
                            var cn = item.cn.ToString();
                            var company = JsonConvert.DeserializeObject<CompanyDetail>(cn);
                            <tr>
                                <td class="text-left">
                                    @request.Id
                                </td>
                                <td class="text-left">
                                    @employee.Fname @employee.Lname
                                </td>
                                <td class="text-left">
                                    @policy.PolicyName
                                </td>
                                <td class="project-state text-left">
                                    @company.CompanyName
                                </td>
                                @if (@request.Status == true)
                                {
                            <td class="text-success">
                                Approved &nbsp<i class="far fa-check-circle"></i>
                            </td>
                                }
                                else
                                {
                                <td class="text-danger">
                                    <form asp-action="updateStatus" method="post">
                                        <input type="hidden" name="Id" value="@request.Id" />
                                        <input type="hidden" name="EmpId" value="@request.EmpId" />
                                        <input type="hidden" name="RequestDate" value="@request.RequestDate" />
                                        <input type="hidden" name="PolicyId" value="@request.PolicyId" />
                                        <input type="hidden" name="CompanyId" value="@request.CompanyId" />
                                        <input type="hidden" name="Status" value="true" />
                                        Pending <button type="submit" style="width: 10px; height: 20px; color: black; background: #f2f2f2"><i class="far fa-circle"></i></button>
                                    </form>
                                </td>
                                }
                                <td class="project-actions text-center">
                                    <a class="btn btn-primary btn-sm" href="">
                                        <i class="fas fa-eye">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Manager/DelPolicy/@policy.Id">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div> 